.tech {
  display: inline-block;
  margin-right: 10px;
  padding: 0 5px;
  background-color: #01579B;
  color: white;
  font-size: small;
  border-radius: 5px;
}

/*.stack {*/
/*  margin-left: 0;*/
/*}*/

